<assembly>
    <id></id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>true</includeBaseDirectory>
    <dependencySets>
        <dependencySet>
            <useProjectArtifact>true</useProjectArtifact>
            <outputDirectory>lib</outputDirectory>
            <scope>runtime</scope>
        </dependencySet>
    </dependencySets>
    <fileSets>
        <fileSet>
            <directory>../</directory>
            <outputDirectory>./</outputDirectory>
            <includes>
                <include>LICENSE</include>
                <include>README.md</include>
            </includes>
        </fileSet>
        <!-- conf -->
        <fileSet>
            <directory>conf</directory>
            <outputDirectory>conf</outputDirectory>
            <includes>
                <include>application.properties</include>
            </includes>
        </fileSet>
        <fileSet>
            <directory>assembly</directory>
            <outputDirectory>conf</outputDirectory>
            <includes>
                <include>log4j.properties</include>
            </includes>
        </fileSet>
        <!-- bin -->
        <fileSet>
            <directory>assembly</directory>
            <outputDirectory>bin</outputDirectory>
            <includes>
                <include>version.txt</include>
            </includes>
            <filtered>true</filtered>
        </fileSet>
        <fileSet>
            <directory>bin</directory>
            <outputDirectory>bin</outputDirectory>
            <includes>
                <include>start.bat</include>
            </includes>
            <filtered>false</filtered>
        </fileSet>
        <fileSet>
            <directory>bin/win</directory>
            <outputDirectory>./</outputDirectory>
            <includes>
                <include>*.exe</include>
            </includes>
            <filtered>false</filtered>
        </fileSet>
        <!-- res -->
        <fileSet>
            <directory>assembly/adb/win</directory>
            <outputDirectory>res/adb</outputDirectory>
            <includes>
                <include>*</include>
            </includes>
            <filtered>false</filtered>
        </fileSet>
        <fileSet>
            <directory>res</directory>
            <outputDirectory>res</outputDirectory>
            <includes>
                <include>**/*</include>
            </includes>
            <filtered>false</filtered>
        </fileSet>
    </fileSets>
</assembly>